/* Media Queries */

@mixin media-lt-420px {
  @media (max-width: 419px) { @content; } // custom media query for smaller phones
}
@mixin media-lt-576px {
  @media (max-width: 575px) { @content; } // standard break point for xs size
}
@mixin media-lt-768px {
  @media (max-width: 767px) { @content; } // standard break point for sm size
}
@mixin media-lt-992px {
  @media (max-width: 991px) { @content; } // standard break point for md size
}
@mixin media-lt-1200px {
  @media (max-width: 1199px) { @content; } // standard break point for lg size
}
@mixin media-gt-420px {
  @media (min-width: 420px) { @content; } // custom media query for smaller phones
}
@mixin media-gt-576px {
  @media (min-width: 576px) { @content; } // standard break point for xs size
}
@mixin media-gt-768px {
  @media (min-width: 768px) { @content; } // standard break point for sm size
}
@mixin media-gt-992px {
  @media (min-width: 992px) { @content; } // standard break point for md size
}
@mixin media-gt-1200px {
  @media (min-width: 1200px) { @content; } // standard break point for lg size
}
@mixin media-gt-1800px {
  @media (min-width: 1800px) { @content; } // standard break point for xl size
}
@mixin media-portrait {
    @media (orientation: portrait) { @content; }
}
@mixin media-landscape {
    @media (orientation: landscape) { @content; }
}

/* General HTML resets */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number],
input[type=date] {
  -moz-appearance: textfield;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none!important;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

:focus {
  outline: none!important;
}

/* Mixins and variables */

@mixin transition-mixin($key, $time, $type) {
    -moz-transition: $key $time $type;
    -webkit-transition: $key $time $type;
    -o-transition: $key $time $type;
    transition: $key $time $type; 
}

/* Define standard for font families */

@mixin Montserrat-font    {font-family: 'Montserrat', sans-serif;}
@mixin Cabin-font         {font-family: 'Cabin', sans-serif;}
@mixin Poppins-font       {font-family: 'Poppins', sans-serif;}

$theme-main-color: #404857;
$theme-light-color: #ae905a;

%float-left {float: left;}
%float-right {float: right;}
%center-align {text-align: center}
%full-width  {width:  100%;}
%full-height {height: 100%;}
%vp-full-height {
    @include media-lt-992px {
        min-height: 100vmax; 
    }
    @include media-gt-992px {
        min-height: 100vh;
    }
}
%auto-width  {width:  auto;}
%auto-height {height: auto;}
%auto-margin {display: block; margin: 0 auto;}
%no-left-margin {margin-left: 0;}

/* Class Resets */
.visible-md {@include media-lt-768px {display: none !important;}}
.visible-lg {@include media-lt-992px {display: none !important;}}
.hidden-md  {@include media-lt-768px {display: none !important;}}
.hidden-lg  {@include media-gt-992px {display: none !important;}}

.d-flex {
    flex-direction: row;
    flex-wrap: wrap;
}

/* Default properties */
html, body, * {@include Montserrat-font;}
html, body {
    max-width: 100vw;
    overflow-x: hidden;
    @include transition-mixin(all, 0.5s, ease);    
    background-color: #FFF;
}

body {
    &.modal-open {
        padding-right: 0 !important;
    }
}

h1 {
    @include Poppins-font;
    font-weight: 400;
    color: #FFF;
    font-size: 20px;
    @include media-gt-420px {
        font-size: 28px;
    }
    @include media-gt-576px {
        font-size: 40px;
    }
}

.btn {
    &.btn-primary {
        background-color: #45baeb;
        border: none;
        outline: none;
        padding: 0.5rem 0.5rem;
        font-size: 12px;
        font-weight: 500;
        color: #FFF;
        .fa {
            padding-left: 20px;
            font-weight: 600;
        }
        @include media-gt-420px {
            padding: 0.5rem 1rem;
            font-size: 15px; 
        }
        @include media-gt-576px {
            padding: 0.5rem 1.5rem;
            font-size: 20px;
        }        
    }
}